
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Tangerine:wght@400;700&display=swap');

:root {
  --dark_brown: #210;
  --light_brown: #bb7;
  --pale_green: #deb;
  --darkish_green: #465;

}

html {
  margin: 0;
  height: 100%;
  font-family: 'Georgia', serif;
}

body {
background-color: var(--pale_green);
color: var(--dark_brown);
display: flex;
flex-direction: column;
}

nav {
  background-color: var(--dark_brown);
  color: var(--pale_green);
}

header, footer {
  background-color: var(--light_brown);
  color: var(--dark_brown);
}

footer {
position: fixed;
bottom: 0;
width: 100%;
z-index: 10;
}

h1, h2, h3, h4 {
  font-family: "Tangerine", cursive;
  font-weight: 300;
  line-height: 1.0;
}
